<!-- ______ menu-fixed ______ -->

<div class="outer-menu-fixed" data-ng-hide="mob.matchMQ && !mob.modalVisible">
    <div class="container">
		<header class="menu-fixed" data-mp-width-l-m-i> <!-- l-m-i stands for last-menu-item -->
			<div class="logo-wrapper" data-direct-child>
				<a href="#" target="_blank" rel="nofollow noreferrer">
					<img data-ng-src="img/logo.png" class="logo img-responsive" alt="lorem ipsum"/>
				</a>
			</div
			><div class="menu-fixed__kant" data-direct-child></div
			><nav class="navbar-default menu-fixed__nav">
				<!-- button-toggler on mobile devices -->
				<div class="navbar-header">
					<button type="button"
							class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#navig-elems"
							aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-brand">
						<img data-ng-src="img/logo.png" class="logo img-responsive" alt="lorem ipsum"/>
					</div>
				</div> <!-- /.navbar-header -->
				<!-- menu items -->
				<div id="navig-elems" class="collapse navbar-collapse navbar-nav">
					<ul class="nav" role="menubar">
						<li role="menuitem" class="menu-fixed__item menu-fixed__item--1 has-arrows-aft"
							data-du-scrollspy="startBlock">
							<a href="#startBlock"
							   class="menu-fixed__item-link"
							   data-du-smooth-scroll>
								<span>1. Start</span>
								<div class="arrow-after"></div>
							</a>
						</li
						><li role="menuitem" class="menu-fixed__item menu-fixed__item--2 has-arrows-bef-aft"
							 data-du-scrollspy="stepsBlock">
							<a href="#stepsBlock"
							   class="menu-fixed__item-link"
							   data-du-smooth-scroll>
								<div class="two-arrows-before">
									<div class="two-arrows-before__top-right"></div>
									<div class="two-arrows-before__bottom-right"></div>
								</div>
								<span>2. Fem steg till en policy</span>
								<div class="arrow-after"></div>
							</a>
						</li
						><li role="menuitem" class="menu-fixed__item menu-fixed__item--3"
							 data-du-scrollspy="invitationBlock">
							<a href="#invitationBlock"
							   class="menu-fixed__item-link"
							   data-du-smooth-scroll>
								<div class="two-arrows-before">
									<div class="two-arrows-before__top-right"></div>
									<div class="two-arrows-before__bottom-right"></div>
								</div>
								<span>3. Bjud in till mote</span>
							</a>
						</li
						><li class="menu-fixed__item menu-fixed__item--4 has-arrows-aft">
							<div class="menu-fixed__item-link  menu-fixed__item-link--empty"
								 data-ng-style="calcWidth">
								<div class="two-arrows-after">
									<div class="two-arrows-after__top-left"></div>
									<div class="two-arrows-after__bottom-left"></div>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- .navbar-collapse -->
			</nav> <!-- /.navbar-default -->
		</header> <!-- /.menu-fixed -->
    </div> <!-- /.container -->
</div> <!-- /.outer-menu-fixed -->

<!-- ______ end menu-fixed ______ -->

<!-- ______ start-block ______ -->

<div id="startBlock" class="outer-start-block">
    <div class="container">
        <section class="start-block"
				 data-ng-style="mob.newHeight"
				 data-mp-set-height="mob.newHeight">
            <h1 class="start-block__heading">
				Vad är en mobilpolicy?
			</h1>
			<div class="row">
			    <div class="col-xs-12 col-sm-7 col-md-7">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute.</p>
				</div>
			</div>
			<img data-ng-src="img/hero.png" alt="lorem ipsum" class="start-block__hero"/>
			<img data-ng-src="img/on-off-mobil.png" alt="lorem ipsum" class="start-block__splash"/>
			<div aria-label="Next"
				 role="button"
				 class="btn-next-block"
				 data-du-smooth-scroll="stepsBlock"></div>
        </section> <!-- /.start-block -->
    </div> <!-- /.container -->
</div> <!-- /.outer-start-block -->

<!-- ______ end start-block ______ -->

<!-- ______ steps-block ______ -->

<div id="stepsBlock" class="outer-steps-block">
    <div class="container">
        <section class="steps-block"
				 data-ng-style="mob.newHeight"
				 data-mp-set-height="mob.newHeight">
			<h1 class="steps-block__heading">
				Fem steg till en mail- & mobilpolicy
			</h1>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="steps-block__step steps-block__step--one">
						<p>Bjud in till ett möte där ni pratar om hur ni vill ha det på din arbetsplats eller i din arbetsgrupp.Unionen bjuder på kaffebröd - så snart du skapat inbjudan skickar vi en presentcheck till dig.</p>
						<a href="#"
						   target="_blank"
						   rel="nofollow noreferrer"
						   class="steps-block__link">
							Mall till e-postinbjudan finns här</a>
						<a href="#"
						   target="_blank"
						   rel="nofollow noreferrer"
						   class="steps-block__link">
							Mall till affisch att hänga upp på arbetsplatsen finns här</a>
					</div>
					<div class="steps-block__step steps-block__step--two">
						<p>Träffas och diskutera resultatet av testet. Några exempel på policys från andra arbetsplatser hittar du nedan.</p>
						<a href="#"
						   target="_blank"
						   rel="nofollow noreferrer"
						   class="steps-block__link">
							Hämta exempel på policys från andra arbetsplatser här</a>
					</div>
					<div class="steps-block__step steps-block__step--three">
						<p>Utse någon som skriver rent ert policyförslag. Ni kan t.ex. utgå från den exempelpolicy som passar er bäst. Diskutera policyförslaget med din arbetsgivare.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="steps-block__step steps-block__step--four">
						<p>Stäm av policyn med gruppen. Bestäm om uppföljning.</p>
					</div>
					<div class="steps-block__step steps-block__step--five">
						<p>Följ upp!</p>
					</div>
					<p>
						<span class="steps-block__highlighted-line">Låter det här krångligt? </span>
						Unionen har experter på
						arbetstidsfrågor som gärna hjälper till med både mötet och policyn. Ring oss på 0770-870 870.
					</p>
					<br>
					<p>Var hittar jag mer information inför mötet?</p>
					<p>
						Du hittar mer information om
						<a href="#"
						   class="steps-block__highlighted-link"
						   target="_blank"
						   rel="nofollow noreferrer">Unionens arbete med gränslöst arbete här.</a>
					</p>
				</div>
			</div>
			<div aria-label="Next"
				 role="button"
				 class="btn-next-block"
				 data-du-smooth-scroll="invitationBlock"></div>
        </section> <!-- /.steps-block -->
    </div> <!-- /.container -->
</div> <!-- /.outer-steps-block -->

<!-- ______ end steps-block ______ -->

<!-- ______ invitation-block ______ -->

<div id="invitationBlock" class="outer-invitation-block">
    <div class="container">
        <section class="invitation-block"
				 data-ng-style="mob.newHeight"
				 data-mp-set-height="mob.newHeight">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9">
					<h1 class="invitation-block__heading">Bjud in dina kollegor till ett fysiskt möte</h1>
					<p>Bjud in till ett möte där ni pratar om hur ni vill ha det på din arbetsplats eller i din arbetsgrupp. När du skapat inbjudan skickar vi en presentcheck till dig.</p>
				</div>
            </div>
			<div class="invitation-block__btn-wrapper"
				 data-ng-hide="!mob.modalVisible">
				<button aria-label="Open form"
						class="invitation-block__btn"
						data-ng-click="mob.toggleModal()">
					<span>Bjud in</span>
				</button>
			</div>
        </section> <!-- /.invitation-block -->
    </div> <!-- /.container -->

	<!-- Start Modal Window -->
	<div data-mp-create-modal="mob.modalVisible" class="invitation-modal">
		<h1 class="invitation-modal__heading">Ja tack, skicka mig bullar till fikat!</h1>
		<form name="invitationForm" action="" novalidate>
			<label for="mobilNum" class="label-modal">Mobilnummer</label>
			<div class="content-modal">
				<input type="tel"
					   id="mobilNum"
					   name="invitationTel"
					   class="input-modal"
					   placeholder="+46 70 2344 999"
					   minlength="12"
					   maxlength="15"
					   data-ng-model="tel"
					   data-ng-pattern="mob.telPattern"
					   data-mp-only-digits
					   required
					   tabindex="0"
				/><div class="invitation-block__btn-wrapper invitation-block__btn-wrapper--modal">
					<button type="submit"
							aria-label="Send form"
							id="invSubmit"
							class="invitation-block__btn invitation-block__btn--modal"
							tabindex="0">
						<span>Bullar tack!</span>
					</button>
				</div>
			</div>
			<p>Ps. Följ anvisningarna i utskicket till din telefon!</p>
		</form>
	</div>
	<!-- End Modal Window -->

</div> <!-- /.outer-invitation-block -->

<!-- ______ end invitation-block ______ -->